body {
    background-color: #81a2a7;
}


html * {
	font-family: Tahoma;
	
}

h1 {
	font-size: 50px;
	font-family: Rockwell;
	text-align: center;
}

h2 {
	font-size: 25px;
	font-family: courier;
	text-align: center;
}

ul, ol, p{
	color: #990000;
	
}

ul li{
	list-style: square;
	line-height: 200%;
}


.weathers ul li {
	list-style: circle;
}

.resources {
	text-align: center;
}

.drinks{
	padding-left: 33%;
}

.drinks h2{
	text-family: Rockwell;
	
}

.fall{
	padding-left: 20%;
}




ol{
	list-style-type: circle;
}

em {
	color: yellow;
}


.resources a:link, a:visited {
    background-color: #ff471a;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
} 

.animals {
	text-align: center;
}

img{
	padding-right: 50px;
	padding-left: 50px;
	border-radius: 25%;
}

img:hover {
    opacity: 0.5;
}

pre {
	
	background-color: darkblue;
	line-height: 200%;
	color: white;
    padding: 10px 20px;
	border-style: solid;
	border-width: 2px 10px 4px 20px;
	padding-left: 25%;
	padding-right: 10%;
}

code {
	font-family: courier;
}
table {
	align: center;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}

p{
	padding-left: 20%;
	padding-right: 20%;
	padding-top: .5cm;
	
}